tools/TraceyRzdcxActivation/Connected Services/RZDCX/ActivationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType />
      </s:element>
      <s:element name="LegacyActivation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:LegacyActivationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LegacyActivationRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="tns:Product" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseInfo" type="tns:PurchaseInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseRequestFileContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Product">
        <s:restriction base="s:string">
          <s:enumeration value="Invalid" />
          <s:enumeration value="RZDCX" />
          <s:enumeration value="DSRSVC" />
          <s:enumeration value="DICOMIZER" />
          <s:enumeration value="HL7Kit" />
          <s:enumeration value="HRZSDK" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PurchaseInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LegacyActivationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LegacyActivationResult" type="tns:LegacyActivationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LegacyActivationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ActivationResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseFileContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ActivationResultCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="NotFoundInDB" />
          <s:enumeration value="InvalidRegistrationCode" />
          <s:enumeration value="TooMany" />
          <s:enumeration value="Expired" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Activate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ActivationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="tns:Product" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseInfo" type="tns:PurchaseInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateResult" type="tns:ActivationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ActivationResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateWithLegacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ActivationWithLegacyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationWithLegacyRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="tns:Product" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseInfo" type="tns:PurchaseInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateWithLegacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateWithLegacyResult" type="tns:ActivationWithLegacyResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationWithLegacyResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ActivationResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateEvaluationLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateEvaluationLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateEvaluationLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EvaluateWithLegacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:EvaluationWithLegacyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EvaluationWithLegacyRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="tns:Product" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EvaluateWithLegacyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EvaluateWithLegacyResult" type="tns:ActivationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Evaluate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:EvaluationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EvaluationRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="tns:Product" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EvaluateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EvaluateResult" type="tns:ActivationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="purchData" type="tns:LegacyActivationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UnitNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="LegacyActivationSoapIn">
    <wsdl:part name="parameters" element="tns:LegacyActivation" />
  </wsdl:message>
  <wsdl:message name="LegacyActivationSoapOut">
    <wsdl:part name="parameters" element="tns:LegacyActivationResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateSoapIn">
    <wsdl:part name="parameters" element="tns:Activate" />
  </wsdl:message>
  <wsdl:message name="ActivateSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateWithLegacySoapIn">
    <wsdl:part name="parameters" element="tns:ActivateWithLegacy" />
  </wsdl:message>
  <wsdl:message name="ActivateWithLegacySoapOut">
    <wsdl:part name="parameters" element="tns:ActivateWithLegacyResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateEvaluationLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateEvaluationLicense" />
  </wsdl:message>
  <wsdl:message name="ActivateEvaluationLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateEvaluationLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="EvaluateWithLegacySoapIn">
    <wsdl:part name="parameters" element="tns:EvaluateWithLegacy" />
  </wsdl:message>
  <wsdl:message name="EvaluateWithLegacySoapOut">
    <wsdl:part name="parameters" element="tns:EvaluateWithLegacyResponse" />
  </wsdl:message>
  <wsdl:message name="EvaluateSoapIn">
    <wsdl:part name="parameters" element="tns:Evaluate" />
  </wsdl:message>
  <wsdl:message name="EvaluateSoapOut">
    <wsdl:part name="parameters" element="tns:EvaluateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivationWSSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LegacyActivation">
      <wsdl:input message="tns:LegacyActivationSoapIn" />
      <wsdl:output message="tns:LegacyActivationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <wsdl:input message="tns:ActivateSoapIn" />
      <wsdl:output message="tns:ActivateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateWithLegacy">
      <wsdl:input message="tns:ActivateWithLegacySoapIn" />
      <wsdl:output message="tns:ActivateWithLegacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateEvaluationLicense">
      <wsdl:input message="tns:ActivateEvaluationLicenseSoapIn" />
      <wsdl:output message="tns:ActivateEvaluationLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EvaluateWithLegacy">
      <wsdl:input message="tns:EvaluateWithLegacySoapIn" />
      <wsdl:output message="tns:EvaluateWithLegacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Evaluate">
      <wsdl:input message="tns:EvaluateSoapIn" />
      <wsdl:output message="tns:EvaluateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditSoapIn" />
      <wsdl:output message="tns:GetCreditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivationWSSoap" type="tns:ActivationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LegacyActivation">
      <soap:operation soapAction="http://tempuri.org/LegacyActivation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/Activate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateWithLegacy">
      <soap:operation soapAction="http://tempuri.org/ActivateWithLegacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEvaluationLicense">
      <soap:operation soapAction="http://tempuri.org/ActivateEvaluationLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvaluateWithLegacy">
      <soap:operation soapAction="http://tempuri.org/EvaluateWithLegacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Evaluate">
      <soap:operation soapAction="http://tempuri.org/Evaluate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivationWSSoap12" type="tns:ActivationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LegacyActivation">
      <soap12:operation soapAction="http://tempuri.org/LegacyActivation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <soap12:operation soapAction="http://tempuri.org/Activate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateWithLegacy">
      <soap12:operation soapAction="http://tempuri.org/ActivateWithLegacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEvaluationLicense">
      <soap12:operation soapAction="http://tempuri.org/ActivateEvaluationLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvaluateWithLegacy">
      <soap12:operation soapAction="http://tempuri.org/EvaluateWithLegacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Evaluate">
      <soap12:operation soapAction="http://tempuri.org/Evaluate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap12:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationWS">
    <wsdl:port name="ActivationWSSoap" binding="tns:ActivationWSSoap">
      <soap:address location="https://licenseroniza.azurewebsites.net/ActivationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivationWSSoap12" binding="tns:ActivationWSSoap12">
      <soap12:address location="https://licenseroniza.azurewebsites.net/ActivationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>